.container{
  display: flex;
  flex-direction: row;
  height: 100%;

  background-color: var(--black);
  width: 100%; 
  padding: 1rem;
 
  transform: skew(-20deg);

  justify-content: space-between;
  align-items: center;

  position: relative;

}

.rotate{
  transform: skew(20deg);
  height: 2.15rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

.switch .input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  /* cursor: pointer; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-theme);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 25px;


}

.pokeballLight{
  position: absolute;
  /* cursor: pointer; */
  height:36px;
  width:36px;
  /* top: 0.25 */
  top: 0.05rem; 
  left: 0.25rem;
  right: 0.21rem;
  bottom: 0.21rem;
  border-radius: 50%;

  display: hidden;
  transition: 0.5s
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
 -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.pokeballDark {
  position: absolute;
  height: 26px;
  width: 26px;
  top: 0.25rem;
  left: 3.125rem;
  bottom: 0.21rem;
  border-radius: 50%;
  display: hidden;
  transition: 0.5s

}

.input:checked + .slider {
  background-color: var(--dark-theme);
}

.input:focus + .slider {
  box-shadow: 0 0 1px var(--dark-theme);
}


.input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}


.pokemonName{ 

  height: 100%;
  width: 100%;

  text-align: center;

  transform: skew(20deg);
  color: var(--white);

  font: 600 1.5rem 'Inter',sans-serif; 

}

